# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
myenv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
static/images/

# Environment variables
env/.env
.env
.env.local
.env.*.local


# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/
