{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="auth-wrapper">
  <div class="auth-card text-center" style="max-width: 600px; padding: 40px;">
    <h1 class="display-4 text-primary font-weight-bold mb-3">Hello, Doctor</h1>
    <hr class="my-4">
    <div class="d-flex justify-content-center gap-3">
      <a class="btn btn-danger btn-lg mr-3" href="/doctorsignup" role="button"
        style="border-radius: 50px; width: 150px;">Apply</a>
      <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button"
        style="border-radius: 50px; width: 150px;">Login</a>
    </div>
  </div>
</div>

{% endblock content %}